@charset "UTF-8";

body{
    background-color: gray;
    font-size: 1.2em;
}

header{
    color: white;
    text-align: center;
}

section{
    background-color: lightgray;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 2px 2px 3px black;
    border-radius: 15px;
}

div{
    margin: 10px;
}